<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 login-box">
        <h1>Ingreso al sistema</h1>
        <p>Ingresa con tu usuario y clave</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="input-group mb-3">
            <input type="text" formControlName="email" class="form-control" placeholder="Ingrese su usuario o correo electrónico">
          </div>
          <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger mb-2">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">El email es obligatorio.</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">El email no es válido.</small>
          </div>

          <div class="input-group mb-3">
            <input type="password" formControlName="password" class="form-control" placeholder="Ingrese su clave">
          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger mb-2">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">La contraseña debe tener mínimo 6 caracteres.</small>
          </div>

          <button type="submit" class="btn btn-primary w-100">INGRESAR</button><br><br>

          <div class="text-center">
            Registrate haciendo <a routerLink="/registro">clic aquí</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>