<app-navbar></app-navbar>
<div class="container mt-4">
  <h2>{{ modoEdicion ? 'Editar Producto' : 'Agregar Producto' }}</h2>

  <form [formGroup]="productoForm" (ngSubmit)="guardar()">

    <div class="mb-3">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" />
      <div *ngIf="productoForm.get('nombre')?.invalid && productoForm.get('nombre')?.touched" class="text-danger">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label>Descripción</label>
      <textarea formControlName="descripcion" class="form-control"></textarea>
      <div *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched" class="text-danger">
        La descripción es obligatoria.
      </div>
    </div>

    <div class="mb-3">
      <label>Precio (ARS)</label>
      <input type="number" formControlName="precio" class="form-control" />
      <div *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched" class="text-danger">
        El precio es obligatorio y debe ser mayor a 0.
      </div>
    </div>

    <div class="mb-3">
      <label>Categoría</label>
      <input type="text" formControlName="categoria" class="form-control" />
      <div *ngIf="productoForm.get('categoria')?.invalid && productoForm.get('categoria')?.touched" class="text-danger">
        La categoría es obligatoria.
      </div>
    </div>

    <div class="mb-3">
      <label>Imagen (URL opcional)</label>
      <input type="text" formControlName="imagen" class="form-control mb-2" placeholder="URL de imagen" />
      
      <label>O subir una imagen desde tu PC</label>
      <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
    </div>

    <button class="btn btn-success" type="submit" [disabled]="productoForm.invalid">
      {{ modoEdicion ? 'Actualizar' : 'Agregar' }}
    </button>

    <button class="btn btn-danger ms-2" type="button" (click)="cancelar()">
      Cancelar
    </button>

  </form>
</div>